---
title: "About CKI"
linkTitle: "About"
description: General information about the CKI project
menu: {main: {weight: 10}}
---

{{% blocks/cover title="About CKI" height="auto" %}}

{{< param "about" >}}

{{% /blocks/cover %}}


{{% blocks/section color="primary" type="section" %}}
<div class="container text-center">
{{< param "mission" >}}
</div>
{{% /blocks/section %}}


{{% blocks/section color="white" type="section" %}}
<div class="d-flex flex-wrap justify-content-lg-around justify-content-md-start">

<div>{{% include "general-info.md" %}}</div>

<div>{{% include "internal.md" %}}</div>

</div>

{{% /blocks/section %}}
